.DS_STORE
install-composer.php
composer-setup.php
dev.yaml
.DS_Store
*.swp
*.phar
*.lock

.idea/
.vscode/
vendor/

db/mysql/data/*
db/mysql/init/*
db/.env

web/app/html/assets/files/*
web/apache/log/*
web/apache/ssl/*
web/php/fpm/log/*
web/.env

mail/log/*
mail/.env
